@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.event {

  &__main-info {
    dd {
      word-wrap: break-word;
    }
  }

  &__tags {
    .label {
      display: inline-block;
      margin-right: 5px;
      padding: .3em .6em .4em;
    }
  }

  .results {
    th {
      white-space: nowrap;
    }

    td {
      vertical-align: middle;
      word-break: break-all;

      .alert {
        margin-bottom: 0;
      }
    }
  }

  .did_not_happen_success {
    float: left;
    padding: 6px 12px;
    border-radius: 4px;
    color: #ffffff;
    background-color: $brand-success;
  }
}
