@import "../sprite";
@import "form/date_picker";
@import "form/select";

.form-input-text {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  background-color: $background_1;
  padding: 0 5px 0 9px;
  border-radius: 2px;
  border: none;
  color: #b6bece;
  font-size: 0.8125rem;
}