@import "../sprite";

.header {
  display: flex;
  height: 70px;

  @include bg-header();

  &__logo {
    display: block;
    box-sizing: border-box;
    padding: 22px 0 0 29px;
    width: 262px;

    &_link {
    }
  }

  &__nav {
    flex-grow: 1;

    ul {
      margin: 0;
      list-style-type: none;

      li {
        float: left;
        padding: 0;
        margin-right: 15px;

        a {
          box-sizing: border-box;
          display: block;
          padding: 0 10px;
          vertical-align: middle;
          height: 70px;
          line-height: 70px;
          font-size: 1rem;
          color: #ffffff;
          text-decoration: none;
        }

        &.selected {
          a {
            border-bottom: 6px solid #e4b756;
          }
        }

        .dropdown-menu {
          display: none;
        }
      }
    }
  }

  &__address {
    line-height: 70px;
    color: #ffffff;
    padding: 0 20px;
    border-left: 1px solid #3d063d;
    font-size: 1.0625rem;

    .icon-wallet {
      vertical-align: middle;
      margin-right: 17px;
      @include sprite($wallet);
    }

    &-text {
      vertical-align: middle;
    }
  }

  &__language {
    list-style-type: none;
    margin: 0;
    padding: 0 20px;
    border-left: 1px solid #3d063d;

    a {
      display: inline-block;
      height: 14px;
      color: #ffffff;
      text-decoration: none;
      vertical-align: middle;

    }

    .dropdown-toggle {
      line-height: 70px;
    }

    .dropdown-menu {
      display: none;
      margin: 0;
      padding: 0;
    }

    .icon-language-en {
      @include sprite($language-en);
    }
  }

  &__menu {
    line-height: 70px;
    padding: 0 23px;
    border-left: 1px solid #3d063d;
    position: relative;

    .icon-menu {
      vertical-align: middle;
      @include sprite($menu);
    }

    &-dropdown {
      display: none;
      position: absolute;
      width: 150px;
      background-color: #131823;
      z-index: 1000;
      list-style-type: none;
      margin: 0;
      padding: 0;
      right: 0;

      &-item {
        padding: 0 10px;
        font-size: 1.0625rem;
        color: #ffffff;
        cursor: pointer;
      }
    }

    &:hover {
      .header__menu-dropdown {
        display: block;
      }
    }
  }
}