.new-event {
  .btn {
    margin-right: 5px;
  }

  .alert {
    display: inline-block;
  }
}

.modal-confirm-new-event {
  display: block;

  .fees-block {
    &-fee-label {
      margin-top: 6px;
    }
    &-fee-field {
      margin-bottom: 10px;
    }
  }
}