@import "../sprite";

.pagination {
  height: 27px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: $background_1;
  border-radius: 2px;

  .page-item {
    display: inline-block;

    .page-link {
      display: block;
      box-sizing: border-box;
      width: 27px;
      height: 27px;
      line-height: 27px;
      text-align: center;
      font-size: 0.8125rem;
      text-decoration: none;
      color: #ffffff;

      .icon-pagination {
        width: 50px;
        height: 27px;
        line-height: 27px;
        @include sprite($arrow-pagination-left);

        &_right {
          transform: rotate(180deg);
        }
      }
    }

    &:first-child, &:last-child {
      .page-link {
        width: 50px;
      }
    }

    &.active {
      .page-link {
        background-color: #202634;
        border-bottom: 2px solid $orange;
      }
    }

    //&:first-child, &:last-child {
    //  .page-link {
    //    //font-size: 0;
    //    //text-indent: -1000px;
    //  }
    //}
  }
}