@import "../sprite";

.pagination {
  height: 27px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: $background_1;
  border-radius: 2px;

  .page-item {
    display: inline-block;
    vertical-align: top;

    .page-link {
      display: block;
      box-sizing: border-box;
      width: 27px;
      height: 27px;
      line-height: 27px;
      text-align: center;
      font-size: 0.8125rem;
      text-decoration: none;
      color: #ffffff;
    }

    &:first-child, &:last-child {
      .page-link {
        width: 50px;
        font-size: 0;
        position: relative;

        &:after {
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -5px 0 0 -2.5px;
          @include sprite($arrow-pagination-left);
        }
      }
    }

    &:last-child {
      .page-link {
        &:after {
          transform: rotate(180deg);
        }
      }
    }

    &.active {
      .page-link {
        background-color: #202634;
        border-bottom: 2px solid $orange;
      }
    }
  }
}