.react-bootstrap-table-page-btns-ul {
  float: right;
  margin-top: 0px;
}

.react-bootstrap-table th.sortable {
  cursor: pointer;
}

.playTable {
  margin-top: 15px;

  table {
    width: 100%;
    max-width: 100%;

    .name {
      max-width: 30%;
      word-wrap: break-word;
      word-break: break-all;
    }

    .bid-type {
      max-width: 30%;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

.multiple-bets-row {
  td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:last-child {
    display: none;
  }
}

.winning-bet-row {
  td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9), td:nth-child(10) {
    background: rgba(220, 255, 220, 1);
  }
}

.playTable .table th {
  white-space: nowrap;
}
