.react-bootstrap-table-page-btns-ul {
  float: right;
  margin-top: 0px;
}

.react-bootstrap-table th.sortable {
  cursor: pointer;
}

.playTable {
  margin-top: 15px;
}

.multiple-bets-row {
  td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    display: none;
  }
}