@import '../sprite';
@import './variables';

.table {
  thead {

    th {
      font-size: 0.8125rem;
      color: #7b869d;
      font-weight: normal;
      text-align: left;
      padding: 0 15px 10px;

      &:first-child {
        padding-left: 9px;
      }

      &:last-child {
        text-align: right;
      }

      &.sortable {
        &.sort_active {
          color: $orange;
        }

        .order {
          margin-left: 5px;
          display: inline-block;
          background-image: url(/img/sprite.png);
          @include sprite-position($table-sort);
          @include sprite-width($table-sort);
          @include sprite-height($table-sort);
        }

        .react-bootstrap-table-sort-order {
          margin-left: 5px;
          display: inline-block;
          background-image: url(/img/sprite.png);
          @include sprite-position($table-sort-enabled);
          @include sprite-width($table-sort);
          @include sprite-height($table-sort);

          &.dropup {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #1d2535;

      &:nth-child(even) {
        background-color: #2f3d58;
      }

      &:nth-child(odd) {
        background-color: #434f67;
      }

      td {
        color: #ffffff;
        font-size: 0.9375rem;
        padding: 13px 15px;
      }
    }
  }
}