@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/print";

@import "./components/variables";
@import "./components/common";
@import "./components/header";
@import "./components/footer";
@import "./components/form";
@import "./components/table";
@import "./components/pagination";
@import "./components/breadcrumbs";
@import "./components/fees_block";

@import "./pages/play";
@import "./components/new_event";
@import "./components/event";
@import "./components/tags_input";
@import "./components/modal_new_bet";
@import "./components/user_withdraw_modal_withdraw";
@import "./components/my_bets";

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.break-word {
  word-wrap: break-word;
  word-break: break-word;
}

.bottom-margin-5 {
  margin-bottom: 5px;
}

.text-overflow-ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logout-button {
  cursor: pointer;
}
.wallet-index {
  dd {
    margin-bottom: 10px;
  }

  button {
    margin-right: 10px;
  }
}