@import "../../sprite";

.Select {
  display: inline-block;
  position: relative;
  border-radius: 2px;

  &-control {
    display: flex;
    height: 27px;
    line-height: 27px;
    font-size: 0.8125rem;
    background-color: $background_1;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    padding: 0 0 0 10px;

    .Select-multi-value-wrapper {
      flex-grow: 1;
    }

    .Select-arrow-zone {
      cursor: pointer;
      position: relative;
      text-align: center;
      vertical-align: middle;
      padding: 0 9px;

      .Select-arrow {
        display: inline-block;
        @include sprite($arrow-select);
        transition: transform 150ms ease;
      }
    }
  }

  &.is-open {
    .Select-control {
      .Select-arrow-zone {
        .Select-arrow {
          transform: rotate(180deg);
          transition: transform 150ms ease;
        }
      }
    }
  }

  &-menu-outer {
    position: absolute;
    left: 0;
    top: 28px;
    width: 100%;
    background-color: $background_1;

    .Select-option {
      padding: 0 10px;
      height: 27px;
      line-height: 27px;
      color: #ffffff;
      font-size: 0.8125rem;
      cursor: pointer;

      &:hover {
        color: $orange;
      }
    }
  }
}