{
  "network": "test",
  "firstBlock": 1000,
  "elasticsearch": {
    "esNode": "search-xxx-xxxxxxxxxxxx",
    "region": "eu-central-1",
    "accessKeyId": "xxxxxxx",
    "secretAccessKey": "xxxxxxxxxxxxxxxx",
    "useSSL": true
  },
  "view": {
    "token_symbol": "TOSS",
    "currency_symbol": "SBTC",
    "token_precision": 2,
    "currency_precision": 4,
    "gwei_precision": 2,
    "token_min_send_value": 0.0001
  },
  "languages": {
    "list": [
      {"name": "English", "code": "en"},
      {"name": "Russian", "code": "ru"}
    ]
  },
  "categories": {
    "default": 1,
    "list": [
      {"id": 1, "name": "sport"},
      {"id": 2, "name": "economy"},
      {"id": 3, "name": "weather"}
    ]
  },
  "timeZones": {
    "default": 10
  }
}