{
  "network": "test",
  "elasticsearch": {
    "esNode": "search-xxx-xxxxxxxxxxxx",
    "region": "eu-central-1",
    "useSSL": true,
    "indexPostfix": "test"
  },
  "view": {
    "token_symbol": "TOSS",
    "currency_symbol": "ETH",
    "token_precision": 18,
    "currency_precision": 4,
    "withdrawal_precision": 8,
    "gwei_precision": 2,
    "token_min_send_value": 0.0001
  },
  "languages": {
    "list": [
      {"name": "English", "code": "en"},
      {"name": "Russian", "code": "ru"}
    ]
  },
  "categories": {
    "default": 11,
    "list": [
      {"id": 1, "name": "sports", "children": [
        {"id": 11, "name": "hockey"},
        {"id": 12, "name": "football"},
        {"id": 13, "name": "air_sports"},
        {"id": 15, "name": "golf"}
      ]},
      {"id": 2, "name": "politics", "children": [
        {"id": 21, "name": "elections"},
        {"id": 22, "name": "political_decisions"},
        {"id": 23, "name": "international_relations"},
        {"id": 24, "name": "summits_and_official_events"}
      ]},
      {"id": 3, "name": "e-sports", "children": [
        {"id": 31, "name": "counter_strike_go"},
        {"id": 32, "name": "league_of_legends"},
        {"id": 33, "name": "pubg"},
        {"id": 34, "name": "fifa"}
      ]}
    ]
  },
  "whitelist": [
    "0x06bc9874f0fe6e31120ab390ac9d99e12bdc5089",
    "0x9de32bb33dd4ecab8e2dcb5ad8a0407cb66dd4f3",
    "0x6288bacc584541d921a1e0218ea46f2e26702a41",
    "0xf79d6fd238197971e526390d19466d01ea33dc5e"
  ],
  "blacklist": [
    "0x9407808bb24233d6cbd943a74bb2ef6d9c365de2",
    "0x54da5e31f204e1d2652c87add4f4f045966feb51",
    "0x2a984c8c49f15ffa257d7dd7f700f5a193c5b77a",
    "0x277ef42000668133fe0000eb173fdd05222e53a4",
    "0x7ab38c0d2a990ceaa93f3e7a5a3d31a33bd21d42",
    "0x0c1e057003ba8ef98d45c3f642eac55c01e53711"
  ],
  "faucetUrl": "",
  "txCheckUrl": "",
  "deploy_from": false
}
